header {
	background-attachment: fixed;
}
input::placeholder {
	color: #B0B0B0 !important;
}
textarea::placeholder {
	color: #B0B0B0 !important;
}
.img-circle {
	width: 100%;
}
.navbar-custom {
	background-color: rgba(0,0,0,0.5);
}
.text-muted-dark {
	color: #DCDCDC;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h4.truncate {
	cursor: default;
}	
.portfolio-link > img {
	width: 100%;
}
.portfolio-link {
	border: 1px solid #ffffff;
}

.portfolio-item:nth-child(n+4){
	display: none;
}

