header {
	background-attachment: fixed;
}
header {
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url(/img/header-bg.jpg) no-repeat fixed center;
	background-size: cover;
}
#access-code-form input {
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
}
input::placeholder {
	color: #B0B0B0 !important;
}
textarea::placeholder {
	color: #B0B0B0 !important;
}
.img-circle {
	width: 100%;
}
.navbar-custom {
	background-color: rgba(0,0,0,0.5);
}
.text-muted-dark {
	color: #DCDCDC;
}
.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
h4.truncate {
	cursor: default;
}	
.portfolio-link > img {
	width: 100%;
}
.portfolio-link {
	border: 1px solid #ffffff;
}

.portfolio-item:nth-child(n+4){
	display: none;
}

.timeline-item:nth-child(n+3) {
	display: none;
}
.timeline-button .timeline-image:hover{
	cursor: pointer;
	background-color: #fec503;
}
#show-more-portfolio,
.passcode-error-message,
.passcode-success-message{
	display: none;
}
section#contact .form-group textarea.form-control {
	height: 322px;
}
